
html, body {
	padding: 0;
	margin: 0;
}
* {
	box-sizing: border-box;
	font-family: sans-serif;
	transition: all .2s ease-in-out;
}
* {
	user-select: none;
	-webkit-user-select: none;
}
input, textarea, p, h1, h2, h3, h4, h5, h5 {
	user-select: text;
	-webkit-user-select: text;
}


article {
	margin: 15px;
	padding: 15px;
	background: white;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
article.focus {
	background: rgb(230, 250, 255);
	box-shadow:
		0 1px 10px rgba(0, 100, 255, 0.3),
		0 1px 4px rgba(0, 0, 0, 0.3);
}
article.active {
	/*background: rgb(230, 250, 155);*/
}
article.active {
	padding-left: 30px;
	position: relative;
}
article.active:before,
article.active:after {
	content: "";
	position: absolute;
	left: 0;
	top: 25px;
	width: 0;
	height: 0;
}
article.active:before {
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid blue;
}
article.active:after {
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid white;
}
/*article.ephemeral h1,
article.ephemeral .x {
	display: none;
}
article:not(.ephemeral) p {
	display: none;
}*/
article.ephemeral {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	opacity: 0.6;
}
article.ephemeral.focus {
	opacity: 0.8;
}


h1,
p {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}
.screensaver input {
	width: 100%;
}
input {
	border-radius: 4px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	padding: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}
input:focus {
	outline: 0;
	border-color: #248BFF;
}
input.error {
	background: rgba(255, 0, 0, 0.5);
}
input[type="number"] {
	width: 4em;
}
h1 {
	/* Completely inexplicable extra space? Just tell it to use a better layout model. */
	display: flex;
	/* Seriously, I have no idea what that was about. */
}
h1 > input {
	padding: 0;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	background: none;
	border-bottom: 2px solid transparent;
	font-weight: bold;
	font-size: 1em;
}
h1 > input:focus {
	border-color: #248BFF;
	outline: none;
}
.x {
	float: right;
	width: 2em;
	height: 2em;
	text-align: center;
	overflow: visible;
	border: 0;
	background: transparent;
	opacity: 0.5;
	border-radius: 50%;
}
.x:hover {
	opacity: 1;
	background: #a00;
	color: white;
	border-radius: 0%;
}
